@model TakipSitesi.Models.Calisan

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Calisan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" required />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soyad" class="control-label"></label>
                <input asp-for="Soyad" class="form-control" required />
                <span asp-validation-for="Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label"></label>
                <input asp-for="KullaniciAdi" class="form-control" required />
                <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" required />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yas" class="control-label"></label>
                <input asp-for="Yas" class="form-control" required />
                <span asp-validation-for="Yas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baslangic" class="control-label"></label>
                <input asp-for="Baslangic" class="form-control" required />
                <span asp-validation-for="Baslangic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input asp-for="Resim" class="form-control" required />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" required />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" required />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IzinDurum" /> @Html.DisplayNameFor(model => model.IzinDurum)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IzinBaslangic" class="control-label"></label>
                <input asp-for="IzinBaslangic" class="form-control" required />
                <span asp-validation-for="IzinBaslangic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzinBitis" class="control-label"></label>
                <input asp-for="IzinBitis" class="form-control" required />
                <span asp-validation-for="IzinBitis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" required />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
